[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pylama = "*"
rope = "*"

[packages]
paho-mqtt = "*"
uldaq = "*"
rx = "*"
"RPi.GPIO" = "*"
soco = "*"
schedule = "*"

[requires]
python_version = "3.8"
